main {
  width: 80%;
  height: 950px;
  overflow-y: scroll;
}

table {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
table th {
  font-size: 30px;
  color: #0c1445;
}
td {
  text-align: center;
  width: 50%;
}
td img {
  float: left;
  margin: 50px 0 0 25px;
  width: 125px;
}
td p {
  color: #0c1445;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 75px;
  padding-right: 5px;
}
td ul {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  padding-right: 5px;
  margin-bottom: 50px;
}
td ul li {
  padding: 5px;
}
.bold {
  font-weight: bold;
}
