main {
  width: 80%;
  height: 950px;
  overflow-y: scroll;
}

main h2 {
  text-align: center;
}
main p {
  margin-left: 20px;
  margin-right: 20px;
}
table {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table th {
  font-size: 20px;
  color: #0c1445;
  font-weight: bold;
  text-decoration: underline;
}
td img {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
