main {
  width: 80%;
  height: 950px;
  overflow-y: scroll;
}

table {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 12%;
  margin-right: 12%;
  width: 75%;
}
table th {
  font-size: 30px;
  color: #0c1445;
}
td {
  width: 25%;
}
.tabheader img {
  margin: 35px 0 0 25px;
  padding: 10px;
}
.tabheader p {
  color: #0c1445;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 50px;
  padding-left: 5px;
}

.tabheader {
  display: flex;
}
.trait {
  display: flex;
  margin-left: 10%;
}
td dl {
  text-align: left;
  margin-bottom: 50px;
}
td dl dt {
  font-weight: bold;
  text-decoration: underline;
  padding: 5px;
}
td dl dd {
  margin-right: 10px;
  padding: 5px;
  display: list-item;
  list-style-type: disc;
}
