.home-parent {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.home-menu {
  grid-area: 1 / 1 / 3 / 2;
}
.home-title {
  grid-area: 1 / 2 / 2 / 4;
}
.home-content {
  grid-area: 2 / 2 / 3 / 3;
}
.content {
  width: 300px;
  height: 100px;
  background-color: lightgray;
  border-radius: 30px;
}
.content-text {
  padding-top: 5px;
  text-align: center;
  font-size: 18pt;
}
.content-quantite {
  font-weight: bolder;
  font-size: 24pt;
}
