.stock-parent {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.stock-menu {
  grid-area: 1 / 1 / 3 / 2;
}
.stock-form {
  grid-area: 1 / 2 / 3 / 3;
}
