body {
  margin-left: 2%;
  margin-top: 3%;
}

ul {
  list-style-type: none;
  border: 1px solid black;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  background-color: black;
  color: white;
}

.header-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
}

.header-child1 {
  grid-area: 1 / 1 / 2 / 2;
}
.header-child1 > img {
  width: 70%;
}

.header-child2 {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: stretch;
}
.header-child2 > p {
  font-style: italic;
}
